<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ユーザー登録</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  </head>
  <body>
	<h3>ユーザー登録</h3>
	<form class="form py-4 needs-validation h-adr" method="post" th:action="@{/signup/}" th:object="${signupForm}">
		<!-- ユーザー名 -->
		<div class="row mt-3">
			<label for="name" class="form-label">ユーザー名</label>
			<div class="col-4">
				<input type="text" class="form-control" id="username" name="username" th:field="*{username}"
					th:classappend="${#fields.hasErrors('username')} ? 'is-invalid' : 'is-valid'" />
				<divvf="${#fields.hasErrors('username')}" th:errors="*{username}" class="invalid-feedback">errors!
			</div>
		</div>
		</div>
		<!-- パスワード -->
		<div class="row mt-3">
			<label for="password" class="form-label">パスワード</label>
			<div class="col-4">
				<input type="password" class="form-control" id="password" name="password" th:field="*{password}"
					th:classappend="${#fields.hasErrors('password')} ? 'is-invalid' : 'is-valid'" />
				<divvf="${#fields.hasErrors('password')}" th:errors="*{password}" class="invalid-feedback">errors!
			</div>
		</div>
		</div>
		
		
        <!-- エラーメッセージの表示 -->
        <ul>
			<li th:each="error : ${#fields.detailedErrors()}">
				<span th:text="${error.message}">エラーメッセージ</span>
            </li>
        </ul>
        <button class="btn btn-primary" type="submit">登録する</button>
     </form>